In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import scipy as sp 
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Visualization
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# The data path of input file
data_path = "Reviews.csv"

# Read csv file to pandas dataframe
pd_data = pd.read_csv(data_path)

type(pd_data)

pandas.core.frame.DataFrame

In [3]:
pd_data=pd_data[:10000]
pd_data.shape

(10000, 10)

In [13]:
group = pd_data.groupby([ 'UserId','ProfileName'])
count = group.size().reset_index(name='Score count')
mean = group['Score'].mean().reset_index(name='Score mean')['Score mean']
count["Score mean"] = mean

In [14]:
count =  review.sort_values("Score count",ascending=False)
count.reset_index(drop=True, inplace=True)
count.head(10)

,UserId,ProfileName,Score count,Score mean
0,A1Z54EM24Y40LL,c2,17,3.882353
1,A2SZLNSI5KOQJT,"Carrie, ""Formerly &#34;Sister Carrie&#34;""",10,3.800000
2,A35R32TA60XD57,M. Torma,9,4.111111
3,A281NPSIMI1C2R,"Rebecca of Amazon ""The Rebecca Review""",8,5.000000
4,A3OXHLG6DIBRW8,"C. F. Hill ""CFH""",7,4.428571
5,A3NHUQ33CFH3VM,Citizen John,7,3.142857
6,A3PJZ8TU8FDQ1K,Jared Castle,7,4.714286
7,AP03SDCDB6RBD,"E. OConnor ""erdoreen""",6,4.333333
8,AQ6SHOW0VMZGF,"K. Padgett ""familyof5""",6,2.666667
9,A26NFIQ7KWI8Y7,kt rose,6,2.666667